        <div class="col-sm-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('manage_questions') }}">Мои вопросы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('question_add_view') }}">Добавить вопрос</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">!!!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Мои опросы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Добавить опрос</a>
                </li>
            </ul>
        </div>
