{% extends "base-tpl.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-10">
            {% if ql %}
            <h2>{{ ql.name }}</h2>
            <p>Описание опроса: <splan class="font-italic">{{ ql.description }}</splan></p>
            <p>Сроки проведения: <splan class="font-italic">{{ ql.start_date.strftime('%Y-%m-%d') }} / {{ ql.end_date.strftime('%Y-%m-%d') }}</splan></p>
            <br>
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-12">Вопросы опроса</div>
                {% for q in ql.questions.all() %}
                <div class="col bg-secondary text-warning m-3 rounded border-dark">
                    {{ q.text }}
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-warning" role="alert">
                Опрос не найден
            </div>
            {% endif %}
            <div class="row justify-content-end mt-2">
                <div class="col-sm-3">
                    <a class="btn btn-outline-danger" href="{{ url_for('ql_dellete', id=ql.id) }}" role="button">Удалить этот опрос</a>
                </div>
            </div>


        </div>
        {% include 'manager-menu.html' %}
    </div>
{% endblock %}
